.row{
  display: flex;
  flex-direction: row;

}
.border{
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid black;
  background-color: wheat;

}
.choice{
  background-color: lightgray;
}
.choice1{
  background-color:orangered;
}
.choice2{
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
}